body{
    font-size: 1em;
}

*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.titulo_principal{
    font-family: 'Matic';
    font-size: 1.5rem;
}

.icono{
    height: 1rem;
    width: 1.2rem;
}

.menu{
    height: 1.5rem ;
}

.arrow{
    height: 2rem;
}



#hero{
    height: 75vh;
    background-image: url(./rutas/Images/Laguna-esmeralda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.email{
    height: 5rem;
}